*{
    margin: 0px
}

.title{
    background-color: rgb(14, 14, 113);
    padding: 10%
}

h1{
    font-size: 70px;
    margin: 0 0 15px 0; 
    color: white;
}

p{
    font-size: 25px;
    color: white;
    
}